

/*common*------------------------------------------------*/
html {
  width: 100%;
  height: 100%;
}

header{
  background-color: #4BACBB;
}

nav div{
  text-align: center;
}

nav div a{
  font-family:arial block; color:#fff;font-size: 40px;
}

/*index.thml----------------------------------------------*/
.indexbody{
  background-color:#4BACB8;
}

.displaylogo{
  text-align:center;
}
.logo{
  margin-top: 80px;
}

.intro{
  background-color:#1C9BB2;
  margin-top:35px;
  margin-left:10px;
  margin-right:10px;
  border:solid;border-width: 1px;
  border-color:#fff;
  height:42px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 0px;
}

.intro div{
  text-align:center;
}

.intro div div{
  font-size:22px;
  margin-top: 4px;
  color:#fff;
}

.intro_script{
  background-color:#1C9BB2;
  margin-top:-1px;
  margin-left:10px;
  margin-right:10px;
  border:solid;border-width: 1px;
  border-color:#fff;height:81px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 10px;
}

.intro_script div{
  text-align: center;
}

#label6{
  font-size:22px;margin-top: 4px;color:#fff;
}

#label7{
  font-size:22px;margin-top: 0px;color:#fff;
}

.frame{
  background-color:#1C9BB2;
  margin-top:15px;
  margin-left:10px;
  margin-right:10px;
  border:solid;border-width: 1px;
  border-color:#fff;
  height:261px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.frame div{
  text-align: center;
}

.frame div div{
  font-size:22px;margin-top:18px;color:#fff;
}

.log_frame{
  background-color:#0088A3;
  margin-top:18px;
  margin-left: 15px;
  margin-right: 15px;
  border:solid;border-width: 2.5px;
  border-color:#fff;
  height:89px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.nlog_frame{
  background-color:#0088A3;margin-top:10px;margin-left: 15px;margin-right: 15px;border:solid;border-width: 2.5px; border-color:#fff;height:52px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;
}

#label1{
  font-size:22px;margin-top: -60px;color:#fff;
}

#label2{
  font-size:22px;margin-top:37px;color:#fff;
}

#label3{
  font-size:22px;margin-top: -43px;color:#fff;
}

.change_lang{
  margin-top:20px;margin-left: 184px;margin-right: 18px;border:solid;border-width: 2.5px; border-color:#fff;height:33px;border-top-left-radius: 10px;border-bottom-left-radius: 10px;border-top-right-radius: 10px;border-bottom-right-radius: 10px;
}

.change_lang div{
  font-size:22px;margin-left:5px;margin-top: -3px;color:#fff;
}

/*search.html------------------------------------------*/

#map {
  height: 100%;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  background-image : url(images/4.jpg);
  height:100%;
  width: 100%;
 }

 .present{
   font-size: 22px;height:100px; background-color:#fcfcfc ;  margin-top: 44px;
 }

 .present_script{
   font-size: 22px; margin-top: -92px;margin-bottom: 7px;color:#4BACBB;
 }


 .present_selec{
   margin-right:10px;margin-left:10px;
 }

.destination{
  font-size: 22px;height:150px; background-color:#fcfcfc ;  margin-top: 50px;
}
 .destination_script{
  text-align: center;
 }

.destination_selec{
  margin-right:10px;margin-left:10px;
}

.room_selec{
  margin-top:12px;margin-right:10px;margin-left:10px;
}

.search{
  text-align: center;
}










/*hum-icon----------------------------------------------------*/
#wrapper {
  width: 100%;
  height: 100%;
  background: #4BACBB;
}
#back {
  position: fixed;
  color:#fff;
  font-size: 28px;
  top: 9px;
  left: 5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  /*z-index: ;
  background: #*/
}
#back2 {
  position: fixed;
  color:#fff;
  font-size: 50px;
  top: -10px;
  right: 5px;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  /*z-index: ;
  background: #*/
}

#hamburger {
  position: fixed;
  top: 3px;
  right: 15px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  cursor: pointer;
  /*z-index: ;
  background: #*/
}

.icon-animation {
  width: 55px;
  height: 8px;
  float: left;
  display: block;
  position: relative;
  border-radius: 50%;
}

.icon-animation span {
  width: 25px;
  height: 8px;
  display: block;
  background: none;
  position: relative;
  margin: auto;
  top: 19px;
  left: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.icon-animation span:after {
  transition: all 0.3s;
  position: absolute;
  width: 25px;
  height: 3px;
  background: #fff;
  display: block;
  content: "";
  transform: translateX(0) rotate(0deg);
}

.icon-animation span:before {
  transition: all 0.3s;
  position: absolute;
  content: "";
  width: 25px;
  height: 3px;
  background: #4B7198;
  display: block;
  transform: translateX(0px) rotate(0deg);
}

.nav_sp {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9900;
  display: block;
  padding: 32px 32px;
  transform: translate(0%, -100%);
  background: #fff;
  transition: all 500ms cubic-bezier(0.995, 0.010, 1.000, 0.415);
  text-align: center;
}

.nav_sp.active {
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  background: #4BACBB;
}

.nav_sp_top {
  width: 100%;
}

.nav_sp_top img {
  width: 100px;
  height: auto;
  opacity: 0;
  transition: 0.3s;
  transform: translate(0px, -15px);
}

.nav_sp.active .nav_sp_top img {
  opacity: 1;
  transition: 0.3s;
  transform: translate(0px, 0);
  transition-delay: 0.5s;
}

.nav_sp ul {
  width: 100%;
  display: block;
  padding: 30px 0;
}

.nav_sp ul li a {
  opacity: 0;
  transform: translate(0px, -15px);
  display: inline-block;
  color: #FFFFFF;
  padding: 0;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 180%;
  position: relative;
  font-family: "Montserrat";
  letter-spacing: 2px;
}

.nav_sp.active ul li a {
  opacity: 1;
  transition: 0.3s;
  transform: translate(0px, 0px);
}

.nav_sp ul li:nth-child(1) a {
  transition-delay: 0s;
}

.nav_sp.active ul li:nth-child(1) a {
  transition-delay: 0.5s;
}

.nav_sp ul li:nth-child(2) a {
  transition-delay: 0.01s;
}

.nav_sp.active ul li:nth-child(2) a {
  transition-delay: 0.55s;
}

.nav_sp ul li:nth-child(3) a {
  transition-delay: 0.02s;
}

.nav_sp.active ul li:nth-child(3) a {
  transition-delay: 0.6s;
}

.nav_sp ul li:nth-child(4) a {
  transition-delay: 0.03s;
}

.nav_sp.active ul li:nth-child(4) a {
  transition-delay: 0.65s;
}

.nav_sp ul li:nth-child(5) a {
  transition-delay: 0.04s;
}

.nav_sp.active ul li:nth-child(5) a {
  transition-delay: 0.7s;
}

.nav_sp ul li:nth-child(6) a {
  transition-delay: 0.05s;
}

.nav_sp.active ul li:nth-child(6) a {
  transition-delay: 0.75s;
}

.nav_sp ul li:nth-child(7) a {
  transition-delay: 0.06s;
}

.nav_sp.active ul li:nth-child(7) a {
  transition-delay: 0.8s;
}

.nav_sp ul li:nth-child(8) a {
  transition-delay: 0.07s;
}

.nav_sp.active ul li:nth-child(8) a {
  transition-delay: 0.85s;
}

.nav_sp ul li:nth-child(9) a {
  transition-delay: 0.08s;
}

.nav_sp.active ul li:nth-child(9) a {
  transition-delay: 0.9s;
}

.nav_sp ul li:nth-child(10) a {
  transition-delay: 0.09s;
}

.nav_sp.active ul li:nth-child(10) a {
  transition-delay: 0.95s;
}
